.xbox-one {
  .dashboard {
    .navegation-container {
      position: fixed;
      left: 0;
      top: 87px;
      width: 100%;
      height: 65px;
    }

    .nav-principal {
      .nav-link {
        font-weight: lighter;
        font-size: 2rem;
        color: #777;

        &.active {
          color: #fff;
        }
      }
    }
  }
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll {
  position: fixed;
  bottom: 0;
  left: 0;
  height: calc(100% - 87px - 0.5rem - 65px);
  padding: 0 1rem 3rem;
}

.scroll-home {
  width: 100%;
}

.section-destaque {
    width: 62%;
}

.section-column {
    width: 21%;
}

.section-content {
    margin-right: 2rem;
    position: relative;

    .section-header {
        position: absolute;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        left: 0;
        top: -.7rem;
        transform: translateY(-100%);
        font-size: .75rem;
        letter-spacing: .05rem;
    }
}

.content {
  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-shadow: 0 0 0 3px transparent;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 0 0 3px rgb(255, 255, 255);

      img {
        transform: scale(1.1);
      }

      svg {
        transform: scale(1.2);
        margin-top: -10px;
        margin-bottom: 10px;
      }
    }
  }

  &.destaque {
    .wrapper-img {
      @extend %wrapper-img;
    }
  }

  &.feature {
    background: $cor-principal;
    width: 100%;
    height: 100%;
    position: relative;

    a {
      @include flex-center();
      flex-direction: column;
    }

    svg {
      width: 40px;
      height: 32px;
      color: #fff;
      font-size: 2rem;
      transition: transform 0.3s, margin-top 0.3s, margin-bottom 0.3s;
    }

    h4 {
      color: #fff;
      font-size: 1rem;
      margin: 0.6rem 0.5rem;
      font-weight: lighter;
      letter-spacing: .03rem;
    }
  }

  &.game {
    width: 100%;
    height: 100%;
    position: relative;

    .wrapper-img {
      @extend %wrapper-img;

      .img-descricao {
        width: 100%;
        font-size: 0.95rem;
        font-weight: normal;
        padding: 0.5rem 0.3rem;
      }
    }
  }
}

.modal {
  position: fixed;
  display: flex;
  @include flex-center();
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.99);
  z-index: 9999999999999;
  transform: translateY(-100%);
  transition: transform .7s;

  &.active {
    transform: translateY(0);
  }

  .modal-content {
    width: 100%;
    max-width: 500px;

    h1 {
      color: #fff;
      font-size: 2.5rem;
      font-weight: lighter;
      margin: 0 0 3rem;
      text-align: center;
    }

    label {

    }

    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px black inset !important;

      &:hover, &:focus, &:active {
        -webkit-box-shadow: 0 0 0 1000px black inset !important;
      }

      -webkit-text-fill-color: #FFF !important;
    }

    .form-control {
      background: transparent;
      border: 1px solid #FFF;
      border-radius: 0;
      box-shadow: none;
      outline: none;
      color: #FFF;
      height: calc(1.5em + 1.8rem + 2px);
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
      margin: 0 0 1.5rem;

      &::placeholder {
        color: rgba(255,255,255,.6);
        font-weight: lighter;
        font-size: 1.3rem;
        letter-spacing: .015rem;
      }

    }

    button {
      width: 100%;
    }

  }

}
